#bg_color {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #A4A4A4;
    background-image: linear-gradient(to left, transparent, white);
}

#bg_img {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/podcast_icon.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 60%, 100%;
    background-position: right top; 
    opacity: 0.2;
}

#reload {
    position: fixed;
    width: 50%;
    top: 30;
    right: 20;
}

.btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 0 15px 15px 0;
    transition: .4s;
}

.btn:hover {
    background: #636363;
}

.right_side {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

#player {
    position: fixed;
    width: 50%;
    bottom: 30;
    left: 10;
}

.base_font {
    font-family: "Times New Roman";
}

#ep_title {
    font-family: "Times New Roman";
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#guests, #date, #about {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#audio1 {
    width: 100%;
}

a:not(.btn) {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover:not(.btn) {
    color: tomato;
}

#menu_toggle {
    display: block;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menu_toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menu_toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menu_toggle span:first-child {
    transform-origin: 0% 0%;
}

#menu_toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menu_toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menu_toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menu_toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

h3, p, #menu {
    position: absolute;
    width: 30%;
    margin: -100px 0 0 -50px;
    padding-top: 125px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    background: #F2F2F2;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    font-size: 18px;
}

#menu_toggle input:checked ~ ul {
    transform: none;
}
